<h1>EntityTemplate</h1>

<table class="record_properties">
    <tbody>
        <tr>
            <th>Id</th>                <td>{{ entity.id }}</td>        </tr>
        <tr>
            <th>Label</th>                <td>{{ entity.label }}</td>        </tr>
        <tr>
            <th>Description</th>                <td>{{ entity.description }}</td>        </tr>
    </tbody>
</table>

<ul class="record_actions">
    <li>
        <a href="{{ path('entitytemplate') }}">
            Back to the list
        </a>
    </li>
    <li>
        <a href="{{ path('entitytemplate_edit', { 'id': entity.id }) }}">
            Edit
        </a>
    </li>
    <li>
        <form action="{{ path('entitytemplate_delete', { 'id': entity.id }) }}" method="post">
            {{ form_widget(delete_form) }}
            <button type="submit">Delete</button>
        </form>
    </li>
</ul>
