<h1>Character</h1>

<table class="record_properties">
    <tbody>
        <tr>
            <th>Id</th>                <td>{{ entity.id }}</td>        </tr>
        <tr>
            <th>Createdat</th>                <td>{{ entity.createdAt|date('Y-m-d H:i:s') }}</td>        </tr>
        <tr>
            <th>Updatedat</th>                <td>{{ entity.updatedAt|date('Y-m-d H:i:s') }}</td>        </tr>
        <tr>
            <th>Deletedat</th>                <td>{{ entity.deletedAt|date('Y-m-d H:i:s') }}</td>        </tr>
        <tr>
            <th>Firstname</th>                <td>{{ entity.firstName }}</td>        </tr>
        <tr>
            <th>Lastname</th>                <td>{{ entity.lastName }}</td>        </tr>
        <tr>
            <th>Jedistate</th>                <td>{{ entity.jediState }}</td>        </tr>
        <tr>
            <th>Birthdate</th>                <td>{{ entity.birthDate|date('Y-m-d H:i:s') }}</td>        </tr>
    </tbody>
</table>

<ul class="record_actions">
    <li>
        <a href="{{ path('character') }}">
            Back to the list
        </a>
    </li>
    <li>
        <a href="{{ path('character_edit', { 'id': entity.id }) }}">
            Edit
        </a>
    </li>
    <li>
        <form action="{{ path('character_delete', { 'id': entity.id }) }}" method="post">
            {{ form_widget(delete_form) }}
            <button type="submit">Delete</button>
        </form>
    </li>
</ul>
