<h1>Player</h1>

<table class="record_properties">
    <tbody>
        <tr>
            <th>Id</th>                <td>{{ entity.id }}</td>        </tr>
        <tr>
            <th>Referenceid</th>                <td>{{ entity.referenceId }}</td>        </tr>
        <tr>
            <th>Maxcharacters</th>                <td>{{ entity.maxCharacters }}</td>        </tr>
    </tbody>
</table>

<ul class="record_actions">
    <li>
        <a href="{{ path('player') }}">
            Back to the list
        </a>
    </li>
    <li>
        <a href="{{ path('player_edit', { 'id': entity.id }) }}">
            Edit
        </a>
    </li>
    <li>
        <form action="{{ path('player_delete', { 'id': entity.id }) }}" method="post">
            {{ form_widget(delete_form) }}
            <button type="submit">Delete</button>
        </form>
    </li>
</ul>
